<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12">

            <h2>Monthly Sales</h2>

            <div>
                <canvas id="myChart" width="700" height="250"></canvas>
            </div>

            <script>

                var currentYearValues = @Html.Raw(Json.Encode(ViewBag.CURRENTVALUES));
                var lastYearValues = @Html.Raw(Json.Encode(ViewBag.LASTYEARVALUES));
                var tyBudgedtValue = @Html.Raw(Json.Encode(ViewBag.BUDGETVALUES));
                var monthLabels = @Html.Raw(Json.Encode(ViewBag.MONTHS));

                var currentLabel = @Html.Raw(Json.Encode(ViewBag.CURRENTYLABEL));
                var lastLabel = @Html.Raw(Json.Encode(ViewBag.LASTYLABEL));

                var canvas = document.getElementById('myChart');

                var data = {
                    labels: monthLabels,
                    datasets: [
                    {
                        label: "Current Year Budget",
                        data: tyBudgedtValue,
                        backgroundColor: "rgba(89,147,255,0.4)"
                    },
                    {
                        label: lastLabel,
                        data: lastYearValues,
                        backgroundColor: "rgba(255,153,0,0.4)"
                    },
                    {
                        label: currentLabel,
                        data: currentYearValues,
                        backgroundColor: "rgba(153,255,51,0.4)"
                    }
                    ]
                };
                
                var myBarChart = Chart.Line(canvas, {
                    data: data,                    
                });

            </script>

        </div>
    </div>
    <div class="row">
        <h1>

        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <p>&copy; @DateTime.Now.Year - BridgedIT</p>
        </div>
    </div>

</body>

</html>