<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
</head>

<body>

    <div class="col-xs-12 col-md-7">

        <h2>Sales Last 6 Months</h2>

        <div>
            <canvas id="myChart" width="300" height="100"></canvas>
        </div>

        <script>

        var currentYearValues = @Html.Raw(Json.Encode(ViewBag.CURRENTVALUES));
        var lastYearValues = @Html.Raw(Json.Encode(ViewBag.LASTYEARVALUES));
        var monthLabels = @Html.Raw(Json.Encode(ViewBag.MONTHS));

        var currentLabel = @Html.Raw(Json.Encode(ViewBag.CURRENTYLABEL));
        var lastLabel = @Html.Raw(Json.Encode(ViewBag.LASTYLABEL));

        var canvas = document.getElementById('myChart');

        var data = {
            labels: monthLabels,
            datasets: [{
                label: currentLabel,
                data: currentYearValues,
                backgroundColor: "rgba(153,255,51,0.4)"
            }, {
                label: lastLabel,
                data: lastYearValues,
                backgroundColor: "rgba(255,153,0,0.4)"
            }]
        };
        var option = {
            scales: {
                yAxes: [{
                    stacked: true,
                    gridLines: {
                        display: true,
                        color: "rgba(255,99,132,0.2)"
                    }
                }],
                xAxes: [{
                    gridLines: {
                        display: true
                    }
                }]
            }
        };

        var myBarChart = Chart.Line(canvas, {
            data: data,
            options: option
        });

        </script>

    </div>

   

    <div class="col-xs-12 col-md-5">

        <h2>Sales by Department</h2>

        <div>
            <canvas id="pie-chart" width="600" height="250"></canvas>
        </div>

        <script>

        var departments = @Html.Raw(Json.Encode(ViewBag.DEPARTMENTS));
        var revenues = @Html.Raw(Json.Encode(ViewBag.REVENUES));
        var colours = @Html.Raw(Json.Encode(ViewBag.COLOURS));

        new Chart(document.getElementById("pie-chart"), {
            type: 'pie',
            data: {
                labels: departments,
                datasets: [{
                    label: "Sales (NZD)",
                    backgroundColor: colours,
                    data: revenues
                }]
            }
        });

        </script>

    </div>

    

</body>

</html>

